.site {
    width: 100%;
    margin: auto;
    padding: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "article"
        "footer"
    ;

}


header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
}


@media only screen and (max-width:899px) and (min-width:501px) {

    .rien {
        display: none;
    }

    .dim {
        width: 300px;
        margin:auto;
        padding: auto;
    }

    .site {
        width: 75%;

        grid-template-columns: 1fr;

        grid-template-areas:

            "header"
            "nav"
            "article"
            "footer"
        ;

    }

}

@media only screen and (max-width:500px) {

    .rien {
        display: none;
    }

    .site {
        width: 350px;

        grid-template-columns: 1fr;
        grid-template-areas:
        
            "header"
            "nav"
            "article"
            "footer"
        ;

    }

}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* background-color:rgba(red, green, blue, 0.3); */
    position: fixed;
    width: 95%;  
}

nav a {
    font-size: 20px;
    color:white;
    margin: 5px 20px;
}





a {
    text-decoration: none;
    color:blue;
}

h1 {
    color:rgb(0, 76, 255);
}

p { overflow-wrap: break-word;
    color:white;
    font-family:sans-serif;
    font-size:50px;
    text-align: center;
    
}
table {border-collapse: collapse;    
}
th,td {
    border: 3px solid rgb(34, 133, 34); padding: 5px; 
}

.coul {
    color: aqua;
}

.sec {
    background-color:rgb(29, 99, 29);
    display: flex;
    flex-direction: column;
    justify-content:center;
}





.sec1 {

    display: flex;
    flex-direction: column;
    justify-content:center;
    
    color: white; 

    background-image: url(https://img.freepik.com/photos-gratuite/femmes-touristes-sont-heureuses-rafraichies-cascade_1150-5657.jpg?w=900&t=st=1671289638~exp=1671290238~hmac=64e56a1a6a28fed2b30a6f5153d5cfe9154c54738f222dd516bfa888ea4a631e);

    background-size: cover;

    min-height: 75vh;
    

}